#modalLaporan:not(.hidden) > div:last-child > div,
#modalPart:not(.hidden) > div:last-child > div, 
#modalAddPart:not(.hidden) > div:last-child > div,
#modalProject:not(.hidden) > div:last-child > div,
#modalEditProject:not(.hidden) > div:last-child > div,
#modalEditAsset:not(.hidden) > div:last-child > div,
#modalAddPart:not(.hidden) > div:last-child > div,
#modalEditReport:not(.hidden) > div:last-child > div,
#modalAddUser:not(.hidden) > div:last-child > div,
#modalEditUser:not(.hidden) > div:last-child > div,
#modalOvertime:not(.hidden) > div:last-child > div,
#modalEditOvertime:not(.hidden) > div:last-child > div,
#modalOvertime:not(.hidden) > div:last-child > div,
#modalAddTemp:not(.hidden) > div:last-child > div,
#modalEditTemp:not(.hidden) > div:last-child > div,
#modalEditVib:not(.hidden) > div:last-child > div,
#modalAddVib:not(.hidden) > div:last-child > div
{
    animation: popUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popUp {
    from { opacity: 0; transform: scale(0.95) translateY(10px); }
    to { opacity: 1; transform: scale(1) translateY(0); }
}