.nav-item {
    display: flex; 
    align-items: center; 
    padding: 0.75rem 1rem;
    border-radius: 0.5rem; 
    color: #94a3b8; 
    transition: all 0.2s;
    margin-bottom: 0.5rem; /* Memberi jarak antar menu */
}

 .nav-item.active {
    background-color: rgba(6, 182, 212, 0.15) !important;
    color: #22d3ee !important;
    border: 1px solid rgba(6, 182, 212, 0.3) !important;
}

/* Tambahkan juga efek hover-nya sekalian biar mantap */
.nav-item.active:hover {
    background-color: rgba(6, 182, 212, 0.25) !important;
}